:root {
    --colorPickerSize: 10vh;
    --gridGap: 0.5em;
    --screenShadow: rgb(150, 150, 150);
    --screenColor: rgb(211, 211, 211);
    --buttonsBorderColor:  rgba(255, 255, 255, 0.404);
    --buttonsBorderColorPressed:  rgba(0, 0, 0, 0.267);
    /* --buttonsHoverColor: rgba(253, 253, 253, 0.637); */
    --buttonsHoverPressedColor: rgba(0, 0, 0, 0.199);
    --buttonsShadowColor:rgba(0, 0, 0, 0.589);
    --buttonElevation: 0.2em;
    --buttonElevationOpposite: -4px;
    --calculatorColor:rgb(228, 0, 0);
    --buttonsColor: rgba(128, 128, 128, 0.877);
    --operatorButtonsColor: rgba(0, 255, 255, 0.596);
    --numberButtonsColor: rgba(121, 121, 121, 0.575);
    --clearButtonColor: rgba(255, 0, 0, 0.452);
}

* {
    font-weight: 900;
    font-size: 1.2em;
}

/* TODO Add appropriate colors cyan numbers, orange operators, green equal, redss  */
/* TODO Make delete button smaller */
/* TODO make buttons same size */
#calculatorColorPicker{
    /* border: 3px solid black;
    border-radius: 50%; */
    top: 3vh;
    left: 3vh;
    position: fixed;
    /* background-color: red; */
    height: var(--colorPickerSize);
    width: var(--colorPickerSize);
}

#div-calculator-container{
    display: flex;
    align-content: center;
    justify-content: center;
    /* position: relative; */
    /* width: 95vw;
    height: 90vh; */
    /* align-items: center; */
    /* background-color: lightblue; */
}

/* #div-calculator * {
    overflow: auto;
    resize: both;
} */

#div-calculator {
    font-family: monospace;
    overflow: auto;
    resize: both;
    border-radius: 0.3em;
    box-shadow: 2px 7px 2px 2px rgb(0, 0, 0);
    font-weight: 900;
    font-size: 1.1em;
    /* min-width: min-content;
    min-height: max-content; */
    /* min-width: fit-content;
    min-height: fit-content; */
    max-width: 72vh;
    /* max-height: 90vh; */
    width: 72vh;
    height: 90vh;
    padding: var(--gridGap);
    justify-self: center;
    display: grid;
    background-color: var(--calculatorColor);
    grid-template-areas: 
    "screen screen screen delete"
    "clear plusMinus mr ms"
    "n7 n8 n9 divide"
    "n4 n5 n6 multiply"
    "n1 n2 n3 subtract"
    "point n0 equals add";
    grid-template-columns: "1fr 1fr 1fr 1fr";
    grid-template-rows: "1fr 1fr 1fr 1fr 1fr 1fr";
    gap: var(--gridGap);
}

#div-display{
    /* display: flexbox; */
    /* border-radius: 5px; */
    /* max-width: 50vh; */
    border-top: 5px solid var(--buttonsShadowColor);
    border-left: 5px solid var(--buttonsShadowColor);
    border-bottom: 2px solid var(--buttonsShadowColor);
    border-right: 2px solid var(--buttonsShadowColor);
    margin: 3px;
    position: relative;
    background-color: var(--screenColor);
    grid-area: screen;
    /* height: 100%; */
    padding: 3px;
}

#div-mainDisplay {
    /* min-width: 8em;
    max-width: 8em; */
    /* overflow-x: auto; */
    border-top: 2px solid rgb(51, 51, 51);
    /* display: flex; */
    /* background-color: lightsteelblue; */
    height: 70%;
}

#p-mainDisplay {
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.164);
    padding: 1px;
    font-size: 0.9em;
    /* font-size: 200%; */
    width: 100%;
    margin: auto;
    text-align: right;
    /* background-color: magenta; */
}

#div-subDisplay {
    /* display: flex; */
    /* background-color: lightslategrey; */
    height: 30%;
}

#p-subDisplay {
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.212);
    padding: 3px;
    font-size: 0.6em;
    text-align: right;
    margin: auto;
    width: 100%;
    /* background-color: orchid; */
}

button {
    outline: none;
    border: none;
    border-top: 4px solid var(--buttonsBorderColor);
    border-left: 3px solid var(--buttonsBorderColor);
    background-color: var(--buttonsColor);
    border-radius: 10px;
    box-shadow: 2px var(--buttonElevation) 0px 0px var(--buttonsShadowColor);
    
}

/* button:hover {
    background-color: var(--buttonsHoverColor);
} */

button:active {
    transform: translateY(var(--buttonElevation) );
    box-shadow: 0px -2px 0px 0px var(--buttonsShadowColor);
    background-color: var(--buttonsHoverPressedColor);
    border-color: var(--buttonsBorderColorPressed);
}

.operator{
    background-color: var(--operatorButtonsColor);
}

.numbers {
    background-color: var(--numberButtonsColor);
}

#b0 {
    grid-area: n0;
    /* background-color: green; */
}

#b1 {
    grid-area: n1;
    /* background-color: green; */
}

#b2 {
    grid-area: n2;
}

#b3 {
    grid-area: n3;
}

#b4 {
    grid-area: n4;
}

#b5 {
    grid-area: n5;
}

#b6 {
    grid-area: n6;
}

#b7 {
    grid-area: n7;
}

#b8 {
    grid-area: n8;
}

#b9 {
    grid-area: n9;
}

#bequals {
    grid-area: equals;
}

#bminus {
    grid-area: subtract;
}

#badd {
    grid-area: add;
}

#bdivide {
    grid-area: divide;
}

#bmultiply {
    grid-area: multiply;
}

#bpoint {
    grid-area: point;
}

#bdelete {
    grid-area: delete;
}

#bclear {
    grid-area: clear;
    background-color: var(--clearButtonColor);
}

#bmr {
    grid-area: mr;
}

#bPlusMinus {
    grid-area: plusMinus;
}

#bms {
    grid-area: ms;
}
