:root {
    --colorPickerSize: 1.9em;
    --gridGap: 0.5em;
    --screenShadow: rgb(83, 83, 83);
    --screenColor: rgb(211, 211, 211);
    --buttonsBorderColor:  rgba(255, 255, 255, 0.404);
    --buttonsBorderColorPressed:  rgba(0, 0, 0, 0.267);
    /* --buttonsHoverColor: rgba(253, 253, 253, 0.637); */
    --buttonsHoverPressedColor: rgba(0, 0, 0, 0.199);
    --buttonsShadowColor:rgba(0, 0, 0, 0.589);
    --buttonElevation: 0.2em;
    --buttonElevationOpposite: -4px;
    --buttonsColor: rgba(128, 128, 128, 0.877);
    --numberButtonsColor: rgba(0, 255, 255, 0.767);
    --operatorButtonsColor: rgba(255, 115, 0, 0.795);
    --clearButtonColor: rgba(255, 0, 0, 0.801);
    --buttonEqualColor: rgba(0, 214, 0, 0.801);
    --buttonMemoryColors: rgba(255, 255, 0, 0.829);
    --bodyBackgroundColor: rgb(255, 255, 255);
    --calculatorColor:rgb(92, 92, 92);
}

* {
    font-weight: 900;
    font-size: 1.2em;
}

/* TODO Make delete button smaller */
/* TODO make buttons same size */
/* TODO z index of fixed things */

/* FOCUS */
/* SCOPE make the display overflow */

/* SCOPE */
#div-moon{
    /* TEST */
    /* visibility: visible; */
    
    right: 1em;
    top: 0em;
    position: fixed;
    width: 2em;
    height: 2em;
    background-color: rgba(165, 42, 42, 0);
    border-radius: 100%;
    box-shadow: 0.5em 0.5em white;
    z-index: 99;
}

#div-sun{
    /* TEST */
    /* visibility: hidden; */
    z-index: 100;
    right: 0.5em;
    top: 0.5em;
    position: fixed;
    width: 2em;
    height: 2em;
    background-color: rgb(255, 238, 0);
    border-radius: 100%;
    /* box-shadow: 0.5em 0.5em black; */
}

/* SCOPE Color picker */
#div-colorPicker {
    /* TEST */
    background-color: brown;
    /* DONE actual */
    width: 100%;
    height: 100%;
}

/* SCOPE div calculator picker */
#div-calculatorColorPicker{
    border: 3px solid rgba(0, 0, 0, 0.781);
    border-radius: 50%;
    bottom: 1em;
    left: 1em;
    position: fixed;
    background-color: red;
    height: var(--colorPickerSize);
    width: var(--colorPickerSize);
}

/* SCOPE input calculator picker */
#input-calculatorColorPicker{
    display: none;
}


/* SCOPE body */
body{
    background-color: var(--bodyBackgroundColor);
    display: flex;
    align-content: center;
    justify-content: center;
}

/* SCOPE calculator container */
#div-calculator-container{
    /* TEST */
    /* background-color: lightblue; */
    
    display: grid;
    grid-template-columns: 20px 2fr;
    gap: 20px;
    /* position: relative; */
    /* align-items: center; */
}


/* SCOPE div calculator*/
#div-calculator {
    width: 70vh;
    height: 90vh;
    font-family: monospace;
    overflow: auto;
    resize: both;
    border-radius: 0.3em;
    box-shadow: 2px 7px 2px 2px rgb(0, 0, 0);
    font-weight: 900;
    font-size: 1.1em;
    padding: var(--gridGap);
    justify-self: center;
    display: grid;
    background-color: var(--calculatorColor);
    grid-template-areas: 
    "screen screen screen delete"
    "clear plusMinus mr ms"
    "n7 n8 n9 divide"
    "n4 n5 n6 multiply"
    "n1 n2 n3 subtract"
    "point n0 equals add";
    grid-template-columns: "1fr 1fr 1fr 1fr";
    grid-template-rows: "1fr 1fr 1fr 1fr 1fr 1fr";
    gap: var(--gridGap);
}

/* SCOPE display */
#div-display{
    /* display: flexbox; */
    /* border-radius: 5px; */
    /* max-width: 50vh; */
    border-top: 5px solid var(--buttonsShadowColor);
    border-left: 5px solid var(--buttonsShadowColor);
    border-bottom: 2px solid var(--buttonsShadowColor);
    border-right: 2px solid var(--buttonsShadowColor);
    margin: 3px;
    position: relative;
    background-color: var(--screenColor);
    grid-area: screen;
    /* height: 100%; */
    padding: 3px;
}

/* SCOPE div maindisplay */
#div-mainDisplay {
    /* min-width: 8em;
    max-width: 8em; */
    /* overflow-x: auto; */
    border-top: 2px solid rgb(51, 51, 51);
    /* display: flex; */
    /* background-color: lightsteelblue; */
    height: 70%;
}

/* SCOPE p maindisplay */
#p-mainDisplay {
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.164);
    padding: 1px;
    font-size: 0.9em;
    /* font-size: 200%; */
    width: 100%;
    margin: auto;
    text-align: right;
    /* background-color: magenta; */
}

/* SCOPE div subDIsplay */
#div-subDisplay {
    /* display: flex; */
    /* background-color: lightslategrey; */
    height: 30%;
}

/* SCOPE p subdisplay */
#p-subDisplay {
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.212);
    padding: 3px;
    font-size: 0.6em;
    text-align: right;
    margin: auto;
    width: 100%;
    /* background-color: orchid; */
}

/* SCOPE elem button */
button {
    outline: none;
    border: none;
    border-top: 4px solid var(--buttonsBorderColor);
    border-left: 3px solid var(--buttonsBorderColor);
    background-color: var(--buttonsColor);
    border-radius: 10px;
    box-shadow: 2px var(--buttonElevation) 0px 0px var(--buttonsShadowColor);
    
}

/* button:hover {
    background-color: var(--buttonsHoverColor);
} */

/* SCOPE active button */
button:active {
    /* background-color: var(--buttonsHoverPressedColor); */
    transform: translateY(var(--buttonElevation) );
    box-shadow: 0px -2px 0px 0px var(--buttonsShadowColor);
    border-color: var(--buttonsBorderColorPressed);
}


/* SCOPE class operator */
.operator{
    background-color: var(--operatorButtonsColor);
}


/* SCOPE class numbers */
.numbers, #bPlusMinus, #bpoint {
    background-color: var(--numberButtonsColor);
}


/* SCOPE ids individual buttons */
#b0 {
    grid-area: n0;
    /* background-color: green; */
}

#b1 {
    grid-area: n1;
    /* background-color: green; */
}

#b2 {
    grid-area: n2;
}

#b3 {
    grid-area: n3;
}

#b4 {
    grid-area: n4;
}

#b5 {
    grid-area: n5;
}

#b6 {
    grid-area: n6;
}

#b7 {
    grid-area: n7;
}

#b8 {
    grid-area: n8;
}

#b9 {
    grid-area: n9;
}

#bequals {
    grid-area: equals;
    background-color: var(--buttonEqualColor);
}

#bminus {
    grid-area: subtract;
}

#badd {
    grid-area: add;
}

#bdivide {
    grid-area: divide;
}

#bmultiply {
    grid-area: multiply;
}

#bpoint {
    grid-area: point;
}

#bdelete {
    grid-area: delete;
    /* border-top-right-radius: 100%;
    border-bottom-right-radius: 100%; */
}

#bclear {
    grid-area: clear;
}

#bclear, #bdelete {
    background-color: var(--clearButtonColor);
}

#bPlusMinus {
    grid-area: plusMinus;
}

#bmr {
    grid-area: mr;
}

#bms {
    grid-area: ms;
}

#bms, #bmr {
    background-color: var(--buttonMemoryColors);
}
